.venv/
env/
venv/
.env
.env.*
*.env
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace
pip-wheel-metadata/
build/
dist/
*.egg-info/
.eggs/
.coverage
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/
.cache/
*.xlsx
*.xls
*.csv
*.json
**/docker-compose*.yml
*.pid
*.sock
desktop.ini
